!!! XML
!!!
%html
  %head
    %title= "下林明正について"
    %meta{charset: 'UTF-8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'general.css'}
%body
  %div#container
    %h1 下林明正について
    %p 1986年生まれ。2009年よりウェブエンジニアとして働いている。
    %p なお、同名の別人がいる。
    %ul
      %li
        %a{href: 'http://shimobayashi.hatenablog.com/', target: '_blank'} ブログ
      %li
        %a{href: 'https://twitter.com/shimobayashi', target: '_blank'} Twitter
      %li
        %a{href: 'https://github.com/shimobayashi', target: '_blank'} GitHub
      %li
        %a{href: 'https://play.google.com/store/apps/developer?id=Akimasa+Shimobayashi', target: '_blank'} Google Play
      %li
        %a{href: 'http://www.amazon.co.jp/registry/wishlist/13BMIMZM6YOQL', target: '_blank'} ほしい物リスト
      %li
        akimasashimobayashi at gmail dot com
    %div.counter
      %a{href: 'http://kauntah.herokuapp.com/', target: '_blank'}
        %img{src: 'http://kauntah.herokuapp.com/counter?offset=0'}
